a:link,
a:visited {
  color: lightslategray;
  background-color: transparent;
}

a:hover,
a:active {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: underline;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-left: 9px;
  padding-bottom: 9px;
  width: auto;
  background-color: transparent;
  color: lightgray;
  text-align: left;
  display: block;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 9px;
  padding-top: 10px;
  width: auto;
  background-color: transparent;
  color: lightgray;
  text-align: left;
  display: block;
}

.logo-label {
  padding-left: 9px;
  font-size: 18px;
}

.top-space {
  padding-top: 15px;
}

.top-left-space {
  padding-top: 5px;
}

.left-space {
  padding-left: 15px;
}

.rounded-box {
  width: 180px;
  height: 34px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  align-items: center; 
  padding: 2px;
}