.DS_Store
.bin

# Ignore compiled Python files
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Anaconda environment directories
.env
env/
.venv/

# Ignore local data
data/
static/data
haystack/data
openai/ingest
openai/processed