[Unit]
Description=Streamlit App Service
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/streamlit
ExecStart=/var/www/streamlit/brockai/bin/streamlit  run --server.port 8501 app.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
