[Unit]
Description=Dagster App Service
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/streamlit-uat
ExecStart=/opt/dagster/dagster_home -h 0.0.0.0 -p 3001
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
