[Unit]
Description=Dagster App Service
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/streamlit
ExecStart=/opt/dagster/dagster_home dagster-daemon run
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target